.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-right: 2.2em;
  padding-left: 1.6em;
  background-color: rgb(173, 208, 230);
}
.headerName {
  margin-left: 3em;
}
